.box {
	margin-bottom: 1em;
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid black;
}
.boxBlue {
	color: #fff;
	background: #3290d2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3290d2), to(#116098));
	background-image: -webkit-linear-gradient(top, #3290d2, #116098);
	background-image: -moz-linear-gradient(top, #3290d2, #116098);
	background-image: -ms-linear-gradient(top, #3290d2, #116098);
	background-image: -o-linear-gradient(top, #3290d2, #116098);
	background-image: linear-gradient(top, #3290d2, #116098);
}

.cubox {
        float: left;
        width: 213px;
}
.cubox + .cubox {
        margin-left: 30px;
}
.cubox .title {
        padding: 10px 15px 5px 15px;
        font-size: 1em;
        font-weight: bold;
}
.cubox .body {
        border-top: 1px solid rgba(100,100,100,0.3);
        height: 100px;
        padding: 5px 15px 0 15px;
        text-align: justify;
}
.cubox .body .more {
        text-align: right;
        font-size: 0.8em;
}
.cubox .body .more a {
        font-weight: normal;
        color: #fff;
}
