form {
	margin-bottom: 2em;
}
input, select, textarea {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid black;
}
label {
	width: 200px;
	float: left;
	text-align: right;
}
.form-group div {
	margin-left: 212px;
	margin-bottom: 0.3em;
}
.form-group div > div {
	display: inline;
}
input[type="text"], input[type="password"], textarea, select {
	border: 1px solid black;
	width: 400px;
	padding: 0.2em;
}
input[type="submit"], input[type="button"] {
	border: 1px solid black;
	padding: 0.2em;
}
input[type="file"], input[type="image"] {
	border: 0;
}

/* ajustes para tablasJS dentro de formularios */
table.formTable input[type="text"], table.formTable textarea, table.formTable select {
	border: 1px solid gray;
	padding: 0.2em;
	width: 100px;
	color: #555;
}
table.formTable input[type="image"] {
	border: 0;
}
table.formTable th, table.formTable td,
table.tableradios th+th, table.tableradios td+td {
	text-align: center;
}
table.formTable th:last-child, table.formTable td:last-child {
	width: 50px;
}
