.session_message {
	font-weight: bold;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	padding: 0.5em;
	margin-bottom: 1em;
}

.bg-primary {
	border-color: darkblue;
	background-color: #8bcbea;
}

.bg-success {
	border-color: green;
	background-color: #add370;
}

.bg-info {
	border-color: #ddd;
	background-color: #ffffeb;
}

.bg-warning {
	border-color: #ffb516;
	background-color: #ffde4c;
}

.bg-danger {
	border-color: #d00;
	background-color: #e39d7c;
}
